html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Restora', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* Font styles */

@font-face {
    font-family: 'Atcarquette';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/66f52aa3b189c4b760372b0c_ATCArquette-Extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atcarquette';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/66f52aa3b189c4b760372b10_ATCArquette-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atcarquette';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/66f52aa3b189c4b760372b11_ATCArquette-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atcarquette';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/66f52aa3b189c4b760372b13_ATCArquette-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atcarquette';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/66f52aa3b189c4b760372b14_ATCArquette-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atcarquette';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/66f52aa3b189c4b760372b12_ATCArquette-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Restora';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/671ea732844df0983bfaaba3_RestoraExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Restora';
    src: url('https://cdn.prod.website-files.com/66f52aa3b189c4b760372ae5/671ea732420cf850291d0167_RestoraExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}